
/************this styles the jumbotron on the landing page *******************/

.jumbotron{
  background-image: url('img/typewriter.jpg');
  color: white;
  font-family:"Times New Roman", Times, serif;
}

.jumbotron h1 {
    font-size: 72px;
}

.jumbotron h2{
    font-size: 40px;
}


.image{

    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 100px;



}

.col-md-8 {
    font-family: serif;
}


/*this is the styling for the poet pic and bio on the individual page*/
.bio h2{
    font-size: 60px;
    font-family: "Times New Roman";
    padding-top: 40px;
    padding-right: 40px;
}

.bio p {
    font-size: 15px;
    font-family: helvetica;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 30px;
    padding-right: 60px;
    line-height: 1.8em;
}

.bio q{
    font-family: helvetica;
    font-size: 20px;
    padding-top: 60px;
    padding-right: 30px;
    font-style: italic;

}

/*this is the thumbnail pic on the landing page */
.thumbnail{
    overflow: auto;

}


.top-buffer {
    margin-top:20px;

}

/*this is the styling for the thumbnails on the landing page*/
/*thumbnail:hover {
    opacity: 0.75;
}*/


body {
    background-color: black;
    color: white;
    text-align: center;

}

h1 {
    color: white;
    font-size: 50px;

}

h2 {
    color: white;
    font-size: 30px;
}


h3.home {
    font-size: 14.5pt;
}


.draggable {
    border-right: 4.5px solid black;
    border-top: 4.5px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 4px;
    margin: 1px;
    font-family: times;
    color: black;
    cursor: move;
    background-color: white;
    font-size: 150%;
}

.footer {
    padding-bottom: 8em;

/****************this is the styling for the individual pages ***************/

}

.navbar-brand {
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
    color: white;
    padding-left: 40px;
}

.navbar-nav>li>a {
    padding-right: 40px;

}

.tiles {
    padding-left: 80px;
    background-color: black;

}

.canvas {

    /*width: 800px;*/
    height: 650px;
    border-color: white;
    border-top: 4px #2c3539;
    border-left: 4px #2c3539;
    border-bottom: 4px #2c3539;
    border-right: 4px #2c3539;
    background-image:url('img/chalkboard.jpg');
   /* padding-right: 60px;*/
    padding-left: 600px;
    padding-top: 60px;
    z-index: -1;
    margin-left: 50px;

}


.signature {
    font-family: "Times New Roman", Times, Serif;
    font-size: 28px;
    color: #56fff0;
    padding-top: 80px;
}

.bio image {
    margin-right: 2px white;
    margin-left: 2px white;
    margin-top: 2px white;
    margin-bottom: 2px white;
    height: 768px;
    width: 432px;

}

.gallery{
    background-image:url('img/typewriter.jpg');
    text-align: center;
    padding-left: 200px;
    margin: 0 auto;
    color: white;
    font-size: 100px;
    border-style: solid;
    border-width: 5px;
}

.screenshots img{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 500px;
    height: auto;
}











