<!DOCTYPE html>

<html>

<head>

    <title>{% block title %}{% endblock %}</title>


    <style>




    </style>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">

    {% block styles %}

    <link rel="stylesheet" type="text/css" href="static/index.css">



    {% endblock %}



    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

    <script src="holder.js"></script>


    {% block script %}
    {% endblock %}


</head>

<body>








{% block content %}



{% endblock %}


</body>


  <script>

  </script>

</html>