
{% extends "base.html" %}
{% block title %}{{ poet["name"] }}{% endblock %}

{% block styles %}
<style>

.draggable {
    width: 50px;
    height: 50px;
    border: 1px solid black;


}

</style>
{% endblock %}

{% block content %}

    <h1> this is {{ poet["name"] }}'s individual page  </h1>
    <img src={{ poet["image"] }} >
    <h3> {{ poet["bio"] }}  </h3>
    <h1> {{ poet["name"] }}'s magnetic tiles </h1>
    <div> {% for word in words_list %}
            <div class="draggable">{{ word }}</div>
        {% endfor %}
    </div>

    <!-- <div id="poem">
        {% for word in words_list %}
            <div class="word"{{ word }}</div>
        {% endfor %}

     -->

{% endblock %}

{% block script %}
<script>
    $(function() {
    $( ".draggable" ).draggable();
  });
</script>
{% endblock %}