
{% extends "base.html" %}
{% block title %}{{ poet["name"] }}{% endblock %}

{% block styles %}

<style>

.draggable {
    border-right: 2.5px solid black;
    border-top: 2.5px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 4px;
    margin: 1px;
    font-family: times;
    color: black;
    cursor: move;
    background-color: white;
    font-size: 150%;
}

#tiles {
    width: 600px;
}


</style>
{% endblock %}

{% block content %}

    <h1> this is {{ poet["name"] }}'s individual page  </h1>
    <img src={{ poet["image"] }} >

    <h3> {{ poet["bio"] }}  </h3>

    <h1> {{ poet["name"] }}'s magnetic tiles </h1>

    <div class="row">
        <div id="tiles" class="col-md-6 col-sm-6">
            {% for word in words_list %}
                <div class="draggable">{{ word }}</div>
            {% endfor %}
        </div>

    </div>


{% endblock %}

{% block script %}
<script>
    $(function() {
    $( ".draggable" ).draggable();
  });
</script>
{% endblock %}
