
{% extends "base.html" %}
{% block title %}{{ poet["name"] }}{% endblock %}

{% block styles %}
<style>

.draggable {
/*    width: 60px;
    height: 60px;*/
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 4px;
    margin: 1px;
    font-family: times;
    color: black;
    cursor: move;
    background-color: white;
}

#tiles {
    width: 600px;
}

/*#canvas {
    width: 500px;
    height: 800px;
    background-color: black;
    border: 2px solid;
    margin: 20px;
    float: left;


}
*/




</style>
{% endblock %}

{% block content %}

    <h1> this is {{ poet["name"] }}'s individual page  </h1>
    <img src={{ poet["image"] }} >
    <h3> {{ poet["bio"] }}  </h3>
    <h1> {{ poet["name"] }}'s magnetic tiles </h1>
    <div id="tiles">
    <div> {% for word in words_list %}
            <div class="draggable">{{ word }}</div>
        {% endfor %}
    </div>
     <!-- <div id="canvas"> -->
</div>

    <!-- <div id="poem">
        {% for word in words_list %}
            <div class="word"{{ word }}</div>
        {% endfor %}

     -->

{% endblock %}

{% block script %}
<script>
    $(function() {
    $( ".draggable" ).draggable();
  });
</script>
{% endblock %}